*
.vscode
.vscode/*
!src/
!src/**
!include/
!include/**
!setup.py
!example/
!example/**
!pyproject.toml
!.gitignore
!README.md
!LICENSE
tests/outputs/
tests/__pycache__/
tests/data/real_*
tests/.pytest_cache/
!.github/
!.github/**
!MANIFEST.in
